#!/bin/bash

sqlfile={{ dumpdir }}/all-database-$(date +%d-%m-%Y_%H-%M-%S).sql
zipfile={{ dumpdir }}/all-database-$(date +%d-%m-%Y_%H-%M-%S).bz2

if pg_dumpall > $sqlfile ; then
    echo 'Sql dump created'
else
    echo 'pg_dump return non-zero code' | mailx -s 'No backup was created!' {{ notify_email }}
    exit
fi

if bzip2 -c $sqlfile > $zipfile; then
    echo 'The backup was successfully compressed'
else
    echo 'Error compressing backup' | mailx -s 'Backup was not created!' {{ notify_email }}
    echo 'pg_dump return non-zero code' | mailx -s 'No backup was created!' {{ notify_email }}
    exit
fi

rm $sqlfile 

# Delete old backups 
find {{ dumpdir }} -mtime +{{ keepdays }} -delete
